@model HomeModel
@{
    ViewData["Title"] = "Meu Cadastro";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo @Model.Nome ao Meu Cadastro</h1>
    <p>Leia sobre o <a href="https://docs.microsoft.com/aspnet/core">Projeto do Meu Cadastro</a>.</p>
    <span>Seu email é: @Model.Email</span>
</div>
